"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](bg_os)\
$os\
[](bg_os bg:bg_dir)\
$directory\
$direnv\
[](bg_dir bg:bg_git)\
$git_branch\
$git_status\
[](bg_git bg:bg_code)\
$terraform\
${env_var.CLOUDSDK_ACTIVE_CONFIG_NAME}\
$gcloud\
$kubernetes\
$nodejs\
$java\
$rust\
$golang\
$php\
[](bg_code bg:bg_time)\
$time\
$cmd_duration\
[ ](bg_time)\
\n$character"""

right_format = """
([$status](red))"""

# command_timeout = 3000
palette = "rose_pine"

[palettes.tokyo_night]
bg_os = '#a3aed2'
fg_os = '#1d2230'
fg_error = '#30221d'
bg_dir = '#606f9f'
fg_dir = '#e3e5e5'
bg_git = '#394260'
fg_git = '#769ff0'
bg_code = '#212736'
fg_code = '#769ff0'
bg_time = '#1d2230'
fg_time = '#a0a9cb'
black = '#1d2230'
red = '#f7768e'
orange = '#ff9e64'
yellow = '#f6c177'
green = '#9ece6a'
cyan = '#73daca'
blue = '#7aa2f7'
purple = '#bb9af7'
white = '#e3e5e5'

[palettes.rose_pine]
bg_os = '#c4a7e7'
fg_os = '#26233A'
bg_dir = '#907aa9'
fg_dir = '#e0def4'
bg_git = '#393552'
fg_git = '#c4a7e7'
bg_code = '#2a273f'
fg_code = '#c4a7e7'
bg_time = '#26233A'
fg_time = '#907aa9'
black = '#26233A'
red = '#eb6f92'
orange = '#f6c177'
yellow = '#ebbcba'
green = '#9ece6a'
cyan = '#9ccfd8'
blue = '#7aa2f7'
purple = '#bb9af7'
white = '#e0def4'

[os]
disabled = false
format = "[ $symbol ]($style)"
style = "bg:bg_os fg_os"

[os.symbols]
Debian = ""
Ubuntu = ""
Windows = ""

[directory]
style = "fg_dir bg:bg_dir"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[direnv]
disabled = false
style = "fg_dir bg:bg_dir"
format = "[$symbol$loaded]($style)"
symbol = ""
loaded_msg = "󰐊"
unloaded_msg = "✘"

####

[git_branch]
symbol = ""
style = "fg_git bg:bg_git"
format = '[ $symbol $branch]($style)'

[git_status]
# windows_starship = '/mnt/c/msys64/mingw64/bin/starship.exe'
# windows_starship = '/mnt/c/Program Files/starship/bin/starship.exe'
style = "fg_git bg:bg_git"
conflicted = '[✘${count}](red bg:bg_git)'
ahead = '[⇡${count}](green bg:bg_git)'
behind = '[⇣${count}](orange bg:bg_git)'
diverged = '[⇕⇡${ahead_count}⇣${behind_count}](red bg:bg_git)'
up_to_date = ''
untracked = '…'
stashed = '◓${count}'   # ⇪ ⇯ ↺ ⌂ ⌆ ⚚ ⚤ ⚧ ❦ ✪ ᛥ ♺ ♲ ♆ ⮉ ⯭ ★ ⚝ ✰ ✭ ⚸ ✇ ☗ ♼ ♽ ⚉ ⚑ ⏻ Ⲫ ◓
modified = '[󰦒${count}](yellow bg:bg_git)'
renamed = '[»${count}](yellow bg:bg_git)'  # ➽
staged = '[●${count}](cyan bg:bg_git)'
deleted = '[-${count}](red bg:bg_git)'
format = '[( ${all_status}${ahead_behind}) ]($style)'

####

# show gcloud active config if the env is set by direnv
[env_var.CLOUDSDK_ACTIVE_CONFIG_NAME]
disabled = false
symbol = "󱇶"
style = "fg_code bg:bg_code"
format = '[ $symbol ($env_value) ]($style)'

# show gcloud active config if ~/.config/gcloud/active_config contains a value,
# if CLOUDSDK_ACTIVE_CONFIG_NAME is set at some point
[gcloud]
disabled = true
symbol = "󱇶"
style = "fg_code bg:bg_code"
format = '[ $symbol ($active) ]($style)'

[golang]
symbol = ""
style = "fg_code bg:bg_code"
format = '[ $symbol ($version) ]($style)'

[php]
symbol = ""
style = "fg_code bg:bg_code"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = ""
style = "fg_code bg:bg_code"
format = '[ $symbol ($version) ]($style)'

[kubernetes]
disabled = false
symbol = "󱃾"
style = "fg_code bg:bg_code"
format = '[ $symbol $context( \($namespace\)) ]($style)'
# detect_files = ['helmfile*.yaml']
detect_extensions = ['yaml']

[[kubernetes.contexts]]
context_pattern = "folio-prod.*"
context_alias = "folio-prod"
style = "red bg:bg_code"

[[kubernetes.contexts]]
context_pattern = "(folio-demo|incepto-dev).*"
context_alias = "folio-demo"

[[kubernetes.contexts]]
context_pattern = "(folio-dev|dev-incepto).*"
context_alias = "folio-dev"

[[kubernetes.contexts]]
context_pattern = ".*_gateway-cluster-gke"
context_alias = "gateway-cluster-gke"

[nodejs]
symbol = ""
style = "fg_code bg:bg_code"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg_code bg:bg_code"
format = '[ $symbol ($version) ]($style)'

[terraform]
symbol = "󱁢"
version_format = "${raw}"
style = "fg_code bg:bg_code"
format = '[ $symbol ($version$workspace) ]($style)'

####

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "fg_time bg:bg_time"
format = '[  $time ]($style)'

[cmd_duration]
style = "fg_time bg:bg_time"
format = '[ $duration]($style)'

####

[character]
disabled = false
success_symbol = '[ 󱞪](bg_os)'
error_symbol = '[ 󱞪](red)'

#### right

[status]
disabled = false
pipestatus = true
style = "fg_os bg:red"
format = '[$symbol$int]($style)'
symbol = '✘'
pipestatus_format = '\[$pipestatus\]($style)'
